.homePicture {
    min-height: 60vh;
}

.homeContainer {
    text-align: center;
    background-image: url("../../assets/cg-big-logo.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: 1100px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.loginContainer {
    margin: auto;
    width: 360px;
    height: 360px;
    background-color: #9ce2d7;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    padding-top: 50px;
}
